@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 95%);
    height: 100vh;

}
.container{
    margin: 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 50px 50px;
}
div.card{
    display: inline-flex;    
}
.c1{
    background-color: hsl(31, 77%, 52%);
    padding: 30px 30px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.c2{
    background-color: hsl(184, 100%, 22%);
    padding: 30px 30px;
}
.c3{
    background-color: hsl(179, 100%, 13%);
    padding: 30px 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.icon{
    padding: 20px 0;
}
.text{
    text-align: left;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    font-size: 35px;
    text-transform: uppercase;
    padding: 10px 0;
    opacity: 95%;
}
.para{
    text-align: left;
    padding: 20px 0;
    padding-right: 40px;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color:hsl(0, 0%, 95%);
    margin-bottom: 50px;
    opacity: 70%;
    
}
button{
    border-radius: 30px;
    border:none;
    padding:12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    opacity: 95%;
}
.but1{
    color:hsl(31, 77%, 52%);
}
.but2{
    color:hsl(184, 100%, 22%);
}
.but3{
    color:hsl(179, 100%, 13%);
}
button:hover{
    border: 2px;
    border-style: solid;
    color: white;
    background-color: transparent;
   
}
@media only screen and (max-width:900px){
    .container{
        margin: 10px 10px;
        padding: 10px 10px;
    }
    .card{
        padding: 10px 10px;
    }
}
@media only screen and (max-width:760px){
    .container{
        margin: 5px 5px;
        padding: 5px 5px;
        
    }
    .card{
        margin: 5px 5px;

    }
}

@media only screen and (max-width:675px){
    .container{
        margin: 0px 0px;
        padding: 0px 0px;
        
    }
    .card{
        margin: 0px 0px;

    }
}
@media only screen and (max-width:650px){
    .container{
        margin: 7px 7px;
        padding: 35px 35px;
        height: auto;
        
    }
    .card{
        margin: 7px 7px;
        display: flex;
        flex-direction: column;

    }
    .c1{
        border-bottom-left-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
    }
    .c3{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;

    }
}
@media only screen and (max-width:450px){
    .container{
        margin: 5px 5px;
        padding: 25px 25px;
        height: auto;
        
    }
    .card{
        margin: 5px 5px;
        display: flex;
        flex-direction: column;

    }
    .c1{
        border-bottom-left-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
    }
    .c3{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;

    }
}
